{% assign firstBlockRendered = false %}
<div id="carouselExampleCaptions" class="carousel slide mt-5 mb-5" data-bs-ride="carousel" style="width: 100%; height: 500px; overflow: hidden;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div id="news-carousel-inner" class="carousel-inner">
    <!-- render featured block(s) -->
    {% for block in section.blocks %}
      {% if block.settings.featured == true %}
        {% if firstBlockRendered == false %} <div class="carousel-item active" style="height: 500px">
        {% else %} <div class="carousel-item" style="height: 500px"> {% endif %}
          <img src="https://images.unsplash.com/14/unsplash_523e559b422b3_1.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            {% if block.type == "campaign" %}
              <h5 class="text-danger">{{block.settings.title}}</h5>
            {% elsif block.type == "newProduct" %}
              <h5 class="text-primary">{{block.settings.title}}</h5>
            {% elsif block.type == "news" %}
              <h5 class="text-success">{{block.settings.title}}</h5>
            {% endif %}
            <p class="text-dark">{{block.settings.description}}</p>
          </div>
        </div>
        {% assign firstBlockRendered = true %}
      {% endif %}
    {% endfor %}
    <!-- render the rest of the block(s) -->
    {% for block in section.blocks %}
      {% if block.settings.featured == false %}
        <div class="carousel-item" style="height: 500px">
          <img src="https://images.unsplash.com/14/unsplash_523e559b422b3_1.JPG" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            {% if block.type == "campaign" %}
              <h5 class="text-danger">{{block.settings.title}}</h5>
            {% elsif block.type == "newProduct" %}
              <h5 class="text-primary">{{block.settings.title}}</h5>
            {% elsif block.type == "news" %}
              <h5 class="text-success">{{block.settings.title}}</h5>
            {% endif %}
            <p class="text-dark">{{block.settings.description}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% schema %}
  {
    "name": "News Carousel",
    "class": "section",
    "settings": [],
    "blocks": [
      {
        "name": "Campaign",
        "type": "campaign",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured"
          }
        ]
      },
      {
        "name": "New Product",
        "type": "newProduct",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured"
          }
        ]
      },
      {
        "name": "News",
        "type": "news",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "checkbox",
            "id": "featured",
            "label": "Featured"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "News Carousel"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
