{% if cart.item_count > 0 %}
  <h1>cart</h1>
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th colspan="2">Prod</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <input type="checkbox" class="btn-check" id="cartNoteCheckbox" autocomplete="off">
    <label class="btn btn-outline-primary" for="cartNoteCheckbox">Add instructions</label>
    <div id="cartNoteContainer" class="d-none">
      <textarea name="note" id="CartNote">{{ cart.note }}</textarea>
    </div>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  <h2>cart</h2>
  Cart is empty
{% endif %}

<script>
  // For debugging the item's properties.
  console.log({{ cart.items | json }});

  let backupNote = "";
  const cartNote = document.querySelector("#CartNote");
  const cartNoteCheckbox = document.querySelector("#cartNoteCheckbox");
  const cartNoteContainer = document.querySelector("#cartNoteContainer");
  if (cartNoteCheckbox && cartNoteContainer) {
    cartNoteCheckbox.addEventListener("click", (event) => {
      const checked = event?.target?.checked;
      if (checked) {
        // Restore user's input note.
        cartNote.value = backupNote;
        cartNoteContainer.className = "";
      } else {
        // Backup user's input note before erase it out of the form.
        backupNote = cartNote.value;
        cartNote.value = "";
        cartNoteContainer.className = "d-none";
      }
    });
  }
</script>
